In [18]:
# Import Data Science libraries
import pandas as pd
import numpy as np
from scipy.stats import linregress
# Import Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
# Import requests
import requests
import json
import time
from pprint import pprint

In [19]:
# Study data files
Countries_AQI_datapath = "AQI and Lat Long of Countries.csv"
continent_mapping_datapath ="Countries by continents.csv"
# Read in the csv
Countries_AQI = pd.read_csv(Countries_AQI_datapath)
continent_mapping_data=pd.read_csv(continent_mapping_datapath)

In [20]:
Countries_AQI.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833

In [21]:
Countries_AQI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16393 non-null  object
 1   City                16695 non-null  object
 2   AQI Value           16695 non-null  int64
 3   AQI Category        16695 non-null  object
 4   CO AQI Value        16695 non-null  int64
 5   CO AQI Category     16695 non-null  object
 6   Ozone AQI Value     16695 non-null  int64
 7   Ozone AQI Category  16695 non-null  object
 8   NO2 AQI Value       16695 non-null  int64
 9   NO2 AQI Category    16695 non-null  object
 10  PM2.5 AQI Value     16695 non-null  int64
 11  PM2.5 AQI Category  16695 non-null  object
 12  lat                 16695 non-null  float64
 13  lng                 16695 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.8+ MB

In [22]:
Countries_AQI_data=Countries_AQI.dropna(subset=["Country"])

In [23]:
Countries_AQI_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16393 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16393 non-null  object
 1   City                16393 non-null  object
 2   AQI Value           16393 non-null  int64
 3   AQI Category        16393 non-null  object
 4   CO AQI Value        16393 non-null  int64
 5   CO AQI Category     16393 non-null  object
 6   Ozone AQI Value     16393 non-null  int64
 7   Ozone AQI Category  16393 non-null  object
 8   NO2 AQI Value       16393 non-null  int64
 9   NO2 AQI Category    16393 non-null  object
 10  PM2.5 AQI Value     16393 non-null  int64
 11  PM2.5 AQI Category  16393 non-null  object
 12  lat                 16393 non-null  float64
 13  lng                 16393 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.9+ MB

In [24]:
# Drop duplicate cities
duplicate_AQI_data = Countries_AQI_data[Countries_AQI_data.duplicated(subset=['City','Country'])]
duplicate_AQI_data

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
6,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate,26.8941,-82.0513
21,United States of America,Pontiac,77,Moderate,2,Good,22,Good,15,Good,77,Moderate,40.8894,-88.6409
34,United States of America,Dayton,45,Good,1,Good,32,Good,7,Good,45,Good,39.2592,-119.5653
35,United States of America,Dayton,45,Good,1,Good,32,Good,7,Good,45,Good,30.0315,-94.9158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16647,United States of America,Salina,51,Moderate,1,Good,34,Good,1,Good,51,Moderate,43.1023,-76.1768
16672,United States of America,Union,51,Moderate,1,Good,47,Good,2,Good,51,Moderate,42.1258,-76.0329
16673,United States of America,Union,51,Moderate,1,Good,47,Good,2,Good,51,Moderate,38.4399,-90.9927
16685,Colombia,Viterbo,55,Moderate,1,Good,24,Good,0,Good,55,Moderate,5.0667,-75.8833
16692,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,36.3385,-88.8513

In [25]:
# Dropping Duplicates
AQI_data_cleaned = Countries_AQI_data.drop_duplicates(subset=["City", "Country"], keep="first")
AQI_data_cleaned

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
5,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate,16.1005,-88.8074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16689,China,Shaoguan,160,Unhealthy,3,Good,160,Unhealthy,1,Good,79,Moderate,24.8011,113.5927
16690,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate,37.5516,-77.3285
16691,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,49.0650,18.9219
16693,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good,48.7786,2.2906
16694,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate,40.1241,-82.9210

In [26]:
# Merge CSVs (Adding Continent to dataset)

In [27]:
continent_mapping_data.head()

  Continent   Country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [28]:
continent_mapping_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Continent  196 non-null    object
 1   Country    196 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [29]:

AQI_data_cleaned= AQI_data_cleaned.rename(columns={
                                            'AQI Value':'Air_Quality_Value',
                                            'AQI Category':'Air_Quality_Category',
                                            'CO AQI Value':'CO_AQI_Value',
                                            'CO AQI Category':'CO_AQI_Category',
                                            'Ozone AQI Value':'Ozone_AQI_Value',
                                            'Ozone AQI Category':'Ozone_AQI_Category',
                                            'NO2 AQI Value':'NO2_AQI_Value',
                                            'NO2 AQI Category':'NO2_AQI_Category',
                                            'PM2.5 AQI Value':'PM2.5_AQI_Value',
                                            'PM2.5 AQI Category':'PM2.5_AQI_Category',
                                            'lat': 'Latitude',
                                            'lng': 'Longitude'
})

In [30]:
AQI_data_cleaned.head()

,Country,City,Air_Quality_Value,Air_Quality_Category,CO_AQI_Value,CO_AQI_Category,Ozone_AQI_Value,Ozone_AQI_Category,NO2_AQI_Value,NO2_AQI_Category,PM2.5_AQI_Value,PM2.5_AQI_Category,Latitude,Longitude
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
5,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate,16.1005,-88.8074

In [31]:
# Replace missing values in the 'Country' column with 'Unknown'
AQI_data_cleaned['Country'] = AQI_data_cleaned['Country'].fillna('Unknown')
AQI_data_cleaned

,Country,City,Air_Quality_Value,Air_Quality_Category,CO_AQI_Value,CO_AQI_Category,Ozone_AQI_Value,Ozone_AQI_Category,NO2_AQI_Value,NO2_AQI_Category,PM2.5_AQI_Value,PM2.5_AQI_Category,Latitude,Longitude
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833
5,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate,16.1005,-88.8074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16689,China,Shaoguan,160,Unhealthy,3,Good,160,Unhealthy,1,Good,79,Moderate,24.8011,113.5927
16690,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate,37.5516,-77.3285
16691,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate,49.0650,18.9219
16693,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good,48.7786,2.2906
16694,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate,40.1241,-82.9210

In [32]:
# Dictionary for standardizing country names
standard_country_names = {
    'United States of America': 'United States',
    'Russian Federation': 'Russia',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'Viet Nam': 'Vietnam',
    'Myanmar':'Burma (Myanmar)',
    'United Republic of Tanzania':'Tanzania',
    'Democratic Republic of the Congo':'Congo',
    'Bolivia(Plurinational State of)':'Bolivia',
    'Venezuela(Bolivarian Republic of)':'Venezuela',
    'Burkina Faso':'Burkina',
    "Côte d'Ivoire" : 'Ivory Coast',
    'Iran (Islamic Republic of)' : 'Iran',
    'Cabo Verde' : 'Cape Verde',
    'Republic of North Macedonia' : 'Macedonia',
    'North Macedonia' : 'Macedonia',
    'Republic of Moldova' : 'Moldova',
    "Lao People's Democratic Republic" : 'Laos',
    'State of Palestine' : 'Palestine',
    'Syrian Arab Republic' : 'Syria',
    'Kingdom of Eswatini' :'Swaziland',
    'Eswatini' :'Swaziland',
    'Republic of Korea':'South Korea',
    'Aruba' : 'Aruba',
    'State of Palestine': 'Palestine',
    'Palestine': 'Palestine'
    # Add more mappings if needed
}
# Apply the mapping to DataFrames to standardize country names
AQI_data_cleaned['Country'] = AQI_data_cleaned['Country'].map(standard_country_names).fillna(AQI_data_cleaned['Country'])

In [33]:
AQI_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13956 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               13956 non-null  object
 1   City                  13956 non-null  object
 2   Air_Quality_Value     13956 non-null  int64
 3   Air_Quality_Category  13956 non-null  object
 4   CO_AQI_Value          13956 non-null  int64
 5   CO_AQI_Category       13956 non-null  object
 6   Ozone_AQI_Value       13956 non-null  int64
 7   Ozone_AQI_Category    13956 non-null  object
 8   NO2_AQI_Value         13956 non-null  int64
 9   NO2_AQI_Category      13956 non-null  object
 10  PM2.5_AQI_Value       13956 non-null  int64
 11  PM2.5_AQI_Category    13956 non-null  object
 12  Latitude              13956 non-null  float64
 13  Longitude             13956 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.6+ MB

In [34]:
cities_continents_merged = AQI_data_cleaned.merge(continent_mapping_data, on='Country', how='left')
cities_continents_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13956 entries, 0 to 13955
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               13956 non-null  object
 1   City                  13956 non-null  object
 2   Air_Quality_Value     13956 non-null  int64
 3   Air_Quality_Category  13956 non-null  object
 4   CO_AQI_Value          13956 non-null  int64
 5   CO_AQI_Category       13956 non-null  object
 6   Ozone_AQI_Value       13956 non-null  int64
 7   Ozone_AQI_Category    13956 non-null  object
 8   NO2_AQI_Value         13956 non-null  int64
 9   NO2_AQI_Category      13956 non-null  object
 10  PM2.5_AQI_Value       13956 non-null  int64
 11  PM2.5_AQI_Category    13956 non-null  object
 12  Latitude              13956 non-null  float64
 13  Longitude             13956 non-null  float64
 14  Continent             13878 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 1.6+ MB